.reading-edit-form {
  padding: 1rem 0;

  .added-image-container {
    display: flex;
    width: 100%;
  
    .added-image {
      width: 15em;
      height: 24em;
    }
  }
  .reading-edit-form-change-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

