.add-text-form {
  padding: 1rem;

  .tags-added {
    display: flex;
    flex-wrap: 1;
    flex-direction: row;
  }

  .file-txt-container {
    width: 100%;
    color: lightgray;
    border-radius: 5px;
    border: 1px solid gray;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .added-image-container {
    display: flex;
    width: 100%;
  
    .added-image {
      width: 15em;
      height: 24em;
    }
  }
}



