.reader-text-container {
  margin: 0 auto;
  background-color: black;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    .reader-text {
      font-size: 20px;
    }
  }
  @media (max-width: 640px) {
    .reader-text {
      font-size: 16px;
    }
  }
  @media (max-width: 480px) {
    .reader-text {
      font-size: 13px;
    }
  }
  
  .reader-text {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    flex-grow: 1;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

    .word-current {
      color: white;
      background-color: darkblue;
    }
  }

  .reader-pause-save-form {
    margin-bottom: 10px;
    border-top: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

